<div *ngIf="isStart" class="container-fluid px-0" [@flyIn]="'inactive'">
  <div class="row mx-auto mt-10 pb-3">
    <img [routerLink]="['/seckill/activity']" [queryParams]="{'activityId':201}" class="img-list mt-3" src="./assets/images/2-2.png" alt=""
         height="100%">
    <img [routerLink]="['/seckill/activity']" [queryParams]="{'activityId':202}" class="img-list mt-3" src="./assets/images/2-3.png" alt=""
         height="100%">
    <img class="img-list mt-3" src="./assets/images/2-4-1.png" alt="" height="100%">
    <img class="img-list mt-3" src="./assets/images/2-5-1.png" alt="" height="100%">
    <!--<img class="img-list mt-3" src="./assets/images/2-4.png" [routerLink]="['/seckill/car']" [queryParams]="{'activeType':1}" alt="" height="100%">-->
    <!--<img class="img-list mt-3" src="./assets/images/2-5.png" [routerLink]="['/seckill/car']" [queryParams]="{'activeType':0}" alt="" height="100%">-->
  </div>
</div>

<div *ngIf="!isStart" class="container-fluid px-0" [@flyIn]="'inactive'">
  <div class="row mx-auto mt-10 pb-3 position-relative">
    <div class="countFont position-absolute text-center">距活动开始还有{{startCountNumber}}天</div>
    <img class="img-list mt-3" src="./assets/images/2-2-1.png" alt="" height="100%" (click)="banImg($event)">
    <img class="img-list mt-3" src="./assets/images/2-3-1.png" alt="" height="100%" (click)="banImg($event)">
    <img class="img-list mt-3" src="./assets/images/2-4-1.png" alt="" height="100%" (click)="banImg($event)">
    <img class="img-list mt-3" src="./assets/images/2-5-1.png" alt="" height="100%" (click)="banImg($event)">
    <!--<img class="img-list mt-3" src="./assets/images/2-5.png" [routerLink]="['/seckill/car']" [queryParams]="{'activeType':0}" alt="" height="100%">-->
  </div>
</div>
<img *ngIf="isStart" class="bg-img position-absolute" src="./assets/images/2-1.png" alt="" width="100%" [@flyIn]="'inactive'">
<img *ngIf="!isStart" class="bg-img position-absolute" src="./assets/images/2-1-1.png" alt="" width="100%" [@flyIn]="'inactive'">
